:root {
    --primary-color: #14213D;
    --background-color: #E5E5E5;
    --accent-color: #FCA311;
}

body {
    font-family: Aldrich;
    margin: 0;
    background-color: var(--background-color);
    padding: 0;
}

/*********HEADER*************/

header {
    background: var(--primary-color);
}

#heading {
    padding: 15px;
    display: flex;
    gap: 10px;
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    padding-top: 5px;
}

#logo {
    width: 40px;
    display: block;
}

/*********NAVIGATION*************/
nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding: 15px;
    font-size: 1rem;
}

.navigation {
    display: none;
    flex-direction: column;
}

.show {
    display: flex;
    flex-direction: column;
}

.ham-btn::before {
    content: '☰';
    color: white;
}

.ham-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 44px;
}

.active::before {
    content: 'ⓧ';
}

/*********HERO*************/

#hero-image {
    margin: 0;
}

#hero-image img {
    margin: 0;
    display: block;
    width: 100%;
}

/*********CALL TO ACTION*************/
#action, .home-section {
    display: flex;
    margin: 20px;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    line-height: 30px;
}

#action a {
    border-radius: 20px;
    border: 4px solid var(--accent-color);
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    text-decoration: none;
}

/*********HOME GRID*************/

#home-grid {
    display: flex;
    flex-direction: column;
}

#home-grid img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

#action a:hover {
    background-color: #eee
}

/*********Gallery*************/

#gallery {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 15px;
}

#gallery img {
    max-width: 250px;
    max-height: 200px;
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

/*********Attribution*************/
 #attribution {
    margin-left: 40px;
 }

 /*********Snow Animation*************/

 .snow-falling {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
 }

 .snowflake {
    position: absolute;
    top: -250px;
    font-size: 1rem;
    opacity: 0.8;
    animation: fall 8s linear infinite;
    color: white;
    filter: blur(0.75px);
 }
 
 @keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
 }

 .snowflake:nth-child(1) {
    left: 5%;
    animation-duration: 7s;
    animation-delay: 0s;
    font-size: 0.5rem;
    opacity: 0.8;
 }

 .snowflake:nth-child(2) {
    left: 15%;
    animation-duration: 7s;
    animation-delay: 2s;
    font-size: 1rem;
    opacity: 0.8;
 }
 
 .snowflake:nth-child(3) {
    left: 30%;
    animation-duration: 6s;
    animation-delay: 4s;
    font-size: 0.75rem;
    opacity: 0.8;
 }

 .snowflake:nth-child(4) {
    left: 45%;
    animation-duration: 9s;
    animation-delay: 9s;
    font-size: 1.5rem;
    opacity: 0.8;
 }

 .snowflake:nth-child(5) {
    left: 60%;
    animation-duration: 7s;
    animation-delay: 5s;
    font-size: 0.5rem;
    opacity: 0.8;
 }

 .snowflake:nth-child(6) {
    left: 75%;
    animation-duration: 7s;
    animation-delay: 6s;
    font-size: 0.5rem;
    opacity: 0.6;
 }

 .snowflake:nth-child(7) {
    left: 85%;
    animation-duration: 8s;
    animation-delay: 3s;
    font-size: 1rem;
    opacity: 0.6;
 }

 .snowflake:nth-child(8) {
    left: 95%;
    animation-duration: 9s;
    animation-delay: 2s;
    font-size: 1.5rem;
    opacity: 0.6;
 }
